#product_holder {
    position: relative;
    width: 200px;
    height: 490px;
    margin: 0px 10px 20px 10px;
    padding: 5px 5px;
    background-color: #f8f7f7;
    border: 1px solid #e7e7e7;
    border-radius: 6px;
    color: #3e4348;
    display: flex;
    flex-direction: column;
}

#product_holder img {
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px 0px #aaaaaa;
    border-radius: 3px;
    cursor: pointer;
    background-image: url('../img/bookimg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 240px;
}

#product_holder h4 {
    font-size: 0.75rem;
    text-align: right;
    margin: 10px;
    line-height: 1.5;
}

#product_holder h3 {
    font-size: 0.6875rem;
    text-align: right;
    margin: 10px;
    padding-top: 20px;
    position: absolute;
    bottom: 30px;
}

#product_holder input[type='checkbox'] {
    margin-right: 10px;
}

#product_holder .del {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 30px;
    font-size: 0.8125rem;
    border-radius: 0px 0px 6px 6px;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    color: #fff;
    outline-width: 0;
}