
#singlePro_holder{
    margin: 0 7px;
    padding: 40px 20px;
    background-color: #f8f7f7;
    border: 1px solid #e7e7e7;
    border-radius: 6px;
    color: #3e4348;
}

#singlePro_holder img{
    border: 1px solid #aaa;
    border-radius: 3px;
    width: 100%;
    height: auto;
}

#singlePro_holder h4 {
    font-size: 0.87rem;
    text-align: right;
    margin: 30px 10px 10px 10px;
}

#singlePro_holder h4 p{
    font-size: 0.75rem;
    line-height: 1.5;
    padding-top: 5px;
}

#singlePro_holder h3 {
    font-size: 0.75rem;
    text-align: right;
    margin: 10px;
    padding-top: 20px;
}

#singlePro_holder input[type='checkbox'] {
    margin-right: 10px;
}
